.main{
  font-family: 'Muller';
  min-width: 1920px;

  
}
.profileContainer{
  background: linear-gradient(#6266CE, pink);
  width: 100%;
  height: 100%;
  padding-top: 59px;
}

.flex{
  display: flex;
  height: 100vh;
  overflow: hidden;
}